# .gitignore
.DS_Store
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
.dart_tool/
.packages
.env
/build/
/ios/.symlinks/
/android/.gradle/
/android/local.properties
/android/key.properties
/android/**/*.iml
/android/captures/
/android/build/
/android/app/build/
/android/app/.cxx/
/android/app/.externalNativeBuild/
/android/app/src/debug/
/android/app/src/profile/
/ios/Flutter/.last_build_id
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_export_environment.sh
/ios/Pods/
/ios/.generated/
/ios/build/
/macos/Flutter/GeneratedPluginRegistrant.swift
/macos/build/
/linux/build/
/windows/build/
/web/build/
/web/firebase-debug.log
/web/.env
/web/.firebase/
/web/node_modules/
/web/package-lock.json
/web/yarn.lock